@import 'https://fonts.googleapis.com/css?family=Merienda';
* {
  padding: 0;
  margin: 0; }

body {
	font-family: 'Merienda', cursive;
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 33px;
  background-color:#70409c; 
}
a {
  text-decoration: none;
  color: crimson; }
  a:hover {
    color: red; }

p {
  margin: 0 0 20px; }

.tagline {
  display: block;
  padding: 20px 0 0;
  opacity: 0;
  color: #fff;
  font-weight: 600;
  text-shadow: #000 0px 1px 3px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.note {
  text-align: center;
font-size: 15px;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#70409c;
}